<a href="https://colab.research.google.com/github/kalloud/Coursera_Capstone/blob/master/Notebook%202%20%3A%20Segmenting%20and%20Clustering%20Neighborhoods%20in%20Toronto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

## **Let's start by scraping the Wikipedia page:**

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.rename(columns={"Postcode": "PostalCode"}, inplace=True)
print(df.shape)
df.head()

(287, 3)

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

## **Now let's delete the rows where Borough is not assigned**

In [3]:
df = df[df.Borough != 'Not assigned']
print(df.shape)
df.head()

(210, 3)

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

## **Replace the rows in which Neighbourhood is not assigned with the corresponding Borough:**

In [4]:
df.Neighbourhood.replace('Not assigned',df.Borough,inplace=True)
print(df.shape)
df.head()

(210, 3)

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

## **Put the rows that have the same postcodes together and seperate them with commas is Neighbourhood**

In [5]:
df = df.groupby(['PostalCode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
print(df.shape)
df.head()

(103, 3)

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [6]:
print(df.shape)

(103, 3)

In [7]:
geo=pd.read_csv('/content/Geospatial_Coordinates.csv')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
result = pd.merge(df, geo, left_on='PostalCode', right_on='Postal Code', how='left').drop('Postal Code', axis=1)
result.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]